<!DOCTYPE html>
<html>
    <img src="https://intranet.birmingham.ac.uk/Images/brand-resources/logo-variations/logo-variations-white-wm-resized-min.jpg" alt="UOB Logo" width="250px" length="200px">
    <head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Usmans Foundation Year Experience</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Usman's CompSci Blog</a></h1>
        </div>


        {% for post in posts %}
		<div>
        		<p>published: {{ post.published_date }}</p>
        		<h2><a href="">{{ post.title }}</a></h2>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</div>
	{% endfor %}


  	<div>
            <h2>In my own words, how I think Django Works.</h2>
            <p style="color:blue;">This post will talk about how I think Django works.</p>
        </div>

    </body>
</html>