<!DOCTYPE html>
<html>
    <img src="https://intranet.birmingham.ac.uk/Images/brand-resources/logo-variations/logo-variations-white-wm-resized-min.jpg" alt="UOB Logo" width="250px" length="200px">
    <head>
        <title>Usmans Foundation Year Experience</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Usman's CompSci Blog</a></h1>
        </div>


        <div>
            <p>published: 06/08/2020</p>
            <h2>Refecting on what I have studied this year.</h2>
            <p style="color:blue;"> This post will reflect on my studies this year.</p>
        </div>


        <div>
            <h2>What I look forward to learning in the upcoming first year CompSci.</h2>
            <p style="color:blue;">This post will detail what I look forward to learning in first year.</p>
        </div>


  	<div>
            <h2>In my own words, how I think Django Works.</h2>
            <p style="color:blue;">This post will talk about how I think Django works.</p>
        </div>

    </body>
</html>